<h1>Testing</h1>
<button (click)="openModal()">Open Modal</button>
<smt-dialog
  [isOpen]="modalOpen"
  (closeModal)="modalOpen = false"
  [buttons]="modalButtons"
  [modalStyle]="{ width: '50%' }"
  title="Sample Modal Title"
>
  <!-- <h2>Sample Modal Content, Testing package</h2>
  <p>This is a sample modal content.</p>
  <form>
    <label for="name">Name:</label>
    <input
      type="text"
      id="name"
      name="name"
      placeholder="Enter your name"
      required
    />

    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      name="email"
      placeholder="Enter your email"
      required
    />

    <label for="message">Message:</label>
    <textarea
      id="message"
      name="message"
      placeholder="Enter your message"
      rows="4"
      required
    ></textarea>
  </form> -->
</smt-dialog>
